[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
authlib = "*"
flask-restplus = "*"
werkzeug = "==2.2.3"
simplejson = "*"
flask-injector = "*"
attrs = "*"
cattrs = "*"

[requires]
python_version = "3"
